CompileFlags:
  Add: [--std=c++17, -I/home/hpc/ihpc/ihpc149h/bachelor/llvm-project/llvm/lib/Target/X86, -I/home/hpc/ihpc/ihpc149h/bachelor/llvm-project/build/lib/Target/X86]
  Remove: [-fno-lifetime-dse]